/* Reset some default styling */
body{
  margin: 0;
  padding: 0;
  align-items: center;
  overflow-x: hidden;
  text-align: center;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: white;
  color: black;
}

/*
@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

h1, p, img {
  animation: fade linear both;
  animation-timeline: view(block 80% 10%);
}
*/
/* Global Styles */

.navbar{
  list-style-type: none;
  background-color: #003249;
  margin: 0;
  padding: 0;
  width: 100vw;
  position: fixed;
  z-index: 10000;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  
}
.navbar li{
  margin: 0;
  padding: 0;
  width: auto;
  text-align: center;
}

.navbar li a:hover {
  background-color: #002d42;
}
.navbar a{
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 40px;
  display: flex;
  margin: 0;
  padding: 0;
}

.background{
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: -1;
  
}

.background img{
  animation: none;
  width: 100vw;
  height: auto;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  margin-top: 64px;

}
.spacer{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* Section Styles */
.section {
  padding: 0;
  margin: 0px;
  text-align: center;
  background-color: white;
  width: 100vw;
  overflow: hidden;
}
h3{
  font-size: 50px;
}

h1 {
  font-size: 36px;
  margin: 0;
  padding-top: 50px
}

p {
  font-size: 18px;
  color: #007EA7;
  margin: 0;
  padding: 20px
}
.slide img{
  max-width: 100%;
  position: relative;
  animation: none;
}
.slideContainer{
  position: relative;
  margin: 0;
  padding: 0;
  background-color: white;
}
.slide{
  display: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

.right, .left{
  position: absolute;
  cursor: pointer;
  top: 50%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
  padding: 15px;
  transform: translateY(-50%);
  display: flex;
  background-color: rgba(0,0,0,0.2)
}
.right{
  right: 0;
}
.left{
  left: 0;
}
.right:hover, .left:hover{
  background-color: rgba(0,0,0,0.9);
}
/* Footer Styles */
.footer {
  background-color: #003249;
  color: white;
  width: 100vw;
  text-align: center;
  padding: 20px;

}
.footer p{
  color: white;
}
